.todo-item {
    display:flex;
    align-items:center;
    gap:20px;
    padding-bottom:20px;
    border-bottom:1px solid orange;
}

.todo-item input {
    width:20px;
}

.todo-item .content {
    flex:1;
}

.todo-item .date {
    font-size:14px;
    color:gray;
}

.todo-item button {
    cursor:pointer;
    color:gray;
    font-size:14px;
    border:none;
    border-radius:5px;
    padding:5px;
}