.diary-list .menu-bar {
    display:flex;
    margin:20px 0;
    gap:10px;
}
.diary-list .menu-bar select {
    background:rgb(236,236,236);
    border:none;
    border-radius:5px;
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
}
.diary-list .menu-bar button {
    flex:1;
}