.diary-item {
    display:flex;
    gap:15px;
    justify-content:space-between;
    padding:15px 0px;
    border-bottom:1px solid rgb(236,236,236);
}
.diary-item .img-section {
    min-width:120px;
    height:80px;
    display:flex;
    justify-content:center;
    border-radius:5px;
}
.diary-item .img-section img {width:50%;}
.diary-item .img-section-1 {background-color: rgb(100, 201, 100);}
.diary-item .img-section-2 {background-color: rgb(157, 215, 114);}
.diary-item .img-section-3 {background-color: rgb(253, 206, 23);}
.diary-item .img-section-4 {background-color: rgb(253, 132, 70);}
.diary-item .img-section-5 {background-color: rgb(253, 86, 95);}

.diary-item .info-section {
    flex:1;
    cursor:pointer;
}
.diary-item .info-section .create-date {
    font-weight:bold;
    font-size:25px;
}
.diary-item .info-section .content {
    font-size:18px;
}
.diary-item .button-section {
    min-width:70px;
}