.editor section {
    margin-bottom:40px;
}
.editor section h4 {
    font-size:22px;
    font-weight:bold;
}
.editor section input,
.editor section textarea {
    background-color:rgb(236, 236, 236);
    border:none;
    border-radius:5px;
    font-size:20px;
    padding:10px 20px;
}
.editor section textarea {
    padding:20px;
    width:100%;
    min-height:200px;
    resize:vertical;
    box-sizing:border-box;
}
.editor .emotion-section .emotion-list-wrapper {
    display:flex;
    justify-content: space-around;
    gap:2%;
}
.editor .button-section {
    display:flex;
    justify-content: space-between;
}