.emotion-item {
    background-color:rgb(236, 236, 236);
    padding:20px;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
}

.emotion-item .emotion-img {
    width:50%;
    margin-bottom:10px;
}

.emotion-item-on-1 {
    color:#fff;
    background-color: rgb(100, 201, 100);
}
.emotion-item-on-2 {color:#fff; background-color: rgb(157, 215, 114);}
.emotion-item-on-3 {color:#fff; background-color: rgb(253, 206, 23);}
.emotion-item-on-4 {color:#fff; background-color: rgb(253, 132, 70);}
.emotion-item-on-5 {color:#fff; background-color: rgb(253, 86, 95);}